<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling"><%=headertitle%></p>
        </div>
    </section>

    <%- include('./partials/footer.ejs'); %>

</div>
</body>
</html>