<%- include('./partials/head.ejs'); %>
<div class="container-js">
	<nav class="navbar navbar-style" role="navigation">
	</nav>

	<section class="hero hero-header-background is-small">
		<div class="hero-body has-text-centered">
			<p class="hero-styling">Administrator Login</p>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half">
                    <div id="errors">
                        
                    </div>
					<form>
						<label class="label">Username: </label>
						<input type="text" class="input input-styled" id="username" placeholder="Username">
						<label class="label">Password: </label>
						<input type="password" class="input input-styled" id="password" placeholder="Password">
						<div class="block"></div>
						<div class="container has-text-centered">
							<button class="button is-medium submit-button" id="login">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</section>

</div>
