<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Add a new account</p>
        </div>
    </section>

    <div class="container" style="margin-top: 60px; margin-bottom: 40px">
        <% if(error != null) { %>
            <% error.forEach(function(element) { %>
            <div class="notification is-danger">
                <p><%=element.msg%></p>
            </div>
            <% }) %>
        <% } %>
        <form class="admin-edit-account" method="post"">
            <div class="has-text-justified" style="margin-left: 5%; margin-top: 40px;">
                <label style="margin-left: 18.1%">Name</label>
                <input type="text" name="fullName" id="fullName" class="input input-styled" style="width: 300px" required><br><br>
                <label style="margin-left: 14.6%">Username</label>
                <input type="text" name="Username" id="Username" class="input input-styled" style="width: 300px" required><br><br>
                <label style="margin-left: 15.2%">Password</label>
                <input type="text" name="Password" id="Password" class="input input-styled" style="width: 300px" required><br><br>
                <label style="margin-left: 9.9%">Address (Billing)</label>
                <input type="text" name="billingAddress" id="billingAddress" class="input input-styled"  style="width: 500px" required><br><br>
                <label style="margin-left: 8.2%">Address (Delivery)</label>
                <input type="text" name="deliveryAddress" id="deliveryAddress" class="input input-styled"  style="width: 500px" required><br><br>
                <label style="margin-left: 11.6%">Email Address</label>
                <input type="text" name="email" id="email" class="input input-styled" style="width: 300px" required><br><br>
                <label style="margin-left: 9.4%">Contact Number</label>
                <input type="text" name="contact" id="contact" class="input input-styled" style="width: 300px" required><br><br>
                <label>Alternative Contact Number</label>
                <input type="text" name="alternativeContact" id="alternativeContact" class="input input-styled" style="width: 300px"><br><br>
            </div>

            <div>
                <button type="submit" id="AddUser" value="SUBMIT" class="button submit-button is-medium" style="margin-bottom: 10px; margin-left: 41.5%;" >Add User</button>
            </div>

        </form>
    </div>

    <%- include('./partials/footer.ejs'); %>

</div>
</body>
</html>