<%- include('./partials/head.ejs'); %>
<body>
<div class="container-js">
    <%- include('./partials/header.ejs'); %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Add Product</p>
        </div>
    </section>

    <div class="container" style="margin-top: 60px">
        <form enctype="multipart/form-data" class="admin-edit-product" method="post">
            <div class="product-photos align-items-center">
                <div>
                    <table id="imageTable" class="table is-hoverable">
                        <td>
                            <input type="file" name="uploadFile" id="uploadFile" class="button submit-button is-small" required><br>
                        </td>
                    </table>
                </div>
            </div>


            <div class="has-text-justified" style="margin-left: 5%; margin-top: 40px;">
                <label style="margin-left: 4.4%">Product Name</label>
                <input type="text" name="Name" id="Name" class="input input-styled" style="width: 300px" required><br><br>
                <label>Product Description </label>
                <input type="text" name="Description" id="Description" class="input input-styled"  style="width: 500px" required><br><br>
            </div>

            <table id="OfferingTable" class="table is-hoverable">
                <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="number" name="size1" id="size1" class="input input-styled" size="11" required></td>
                    <td><input type="number" name="price1" id="price1" class="input input-styled" required></td>
                </tr>

                <tr id="buttonRow"><td><button type="button" id="AddOffering" class="button submit-button is-small">Add</button></td></tr>
                </tbody>
            </table>

            <div>
                <button type="submit" class="button submit-button is-medium" style="margin-bottom: 10px; margin-left: 41.5%;" value="SUBMIT">Add Product</button>
            </div>

        </form>



    </div>

    <%- include('./partials/footer.ejs'); %>


</div>
</body>
</html>