<%- include('./partials/head.ejs') %>
<body>
    <div class="container-js">
        <%- include('./partials/header.ejs') %>
        <section class="hero hero-header-background is-small">
            <div class="hero-body has-text-centered">
                <p class="hero-styling">Order Success</p>
            </div>
        </section>
        <div class="container">
            <section class="section">
                
                <article class="message is-primary">
                    <div class="message-body">
                        <p>Thank you ordering! We are now currently processing your order. You may check the <a href="/transactions">View Transactions</a> page under the <a href="/account">Accounts</a> page for updates.</p>
                        <br />
                        <p>Have a great day ahead and God Bless!</p>
                        <br />
                        <a href="/">Return to Home Page</a>
                    </div>
                </article>

            </section>
            
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>


</body>

</html>