<%- include('./partials/head.ejs');%>

<div class="container-js">
    <%- include('./partials/header.ejs');%>
    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Error</p>
        </div>
    </section>
    <div class="container">
        <section class="section">
            
            <article class="message is-danger">
                <div class="message-body">
                    <p><%-error%></p>
                    <a href="/">Return to Home Page</a>
                </div>
            </article>

        </section>
    </div>
    <%- include('./partials/footer.ejs');%>

</div>
