<%- include('./partials/head.ejs') %>
<div class="container-js">
    <%- include('./partials/header.ejs') %>
	<section class="hero hero-header-background is-small">
		<div class="hero-body has-text-centered">
			<p class="hero-styling">Login</p>
		</div>
	</section>
	<div class="container">

		<div class="columns is-centered">
			<div class="column is-half">
				<form>
					<label class="label">Username: </label>
					<input type="text" class="input input-styled" placeholder="Username">
					<label class="label">Password: </label>
					<input type="password" class="input input-styled" placeholder="Password">
					<p class="pt-4 pb-4">Don't have an account? <strong><a href="register.html">Register here</a></strong></p>
					<div class="container has-text-centered"><a class="button is-medium submit-button" href="index.html">Login</a></div>
				</form>
			</div>
		</div>

	</div>
</div>
