<%- include('./partials/head.ejs') %>
<div class="container-js">
    <%- include('./partials/header.ejs') %>
	<section class="hero hero-header-background is-small">
		<div class="hero-body has-text-centered">
			<p class="hero-styling">Login</p>
		</div>
	</section>
	<div class="container">

		<div class="columns is-centered">
			<div class="column is-half">
				<div id="errors">

				</div>
				<form>
					<label class="label">Username: </label>
					<input type="text" id="loginUsername" name="username" class="input input-styled" placeholder="Username">
					<label class="label">Password: </label>
					<input type="password" id="loginPassword" name="password" class="input input-styled" placeholder="Password">
					<p class="pt-4 pb-4">Don't have an account? <strong><a href="/register">Register here</a></strong></p>
					<div class="container has-text-centered"><button type="submit" class="button is-medium submit-button" id="login">Login</button></div>
				</form>
			</div>
		</div>

	</div>
</div>
