<%- include('./partials/head.ejs') %>
<div class="container-js">
    <%- include('./partials/header.ejs') %>

    <section class="hero hero-header-background is-small">
        <div class="hero-body has-text-centered">
            <p class="hero-styling">Register</p>
        </div>
    </section>
    <div class="container">
        <section class="section">
            
            <article class="message is-primary">
                <div class="message-body">
                    <p>Thank you signing up, <%=username%>! You may now order our carefully baked goods. Visit <a href="/products">Products</a> to see a list of our breads, pastries and cakes.</p>
                    <br />
                    <p>Have a great day ahead and God Bless!</p>
                    <br />
                    <a href="/">Return to Home Page</a>
                </div>
            </article>

        </section>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</div>
