<div class="column is-one-quarter">
    <div class="menu">
        <p class="menu-label">My Account</p>
        <ul class="menu-list">
            <li><a class="is-active" href="account.html">My Account</a></li>
            <li><a href="editaccount.html">Edit My Account</a></li>
            <li><a href="favorites.html">My Favorites</a></li>
            <li><a href="login.html">Logout</a></li>
        </ul>
        <p class="menu-label">Shop</p>
        <ul class="menu-list">
            <li><a href="transactions.html">View Past Transactions</a></li>
            <li><a href="cart.html">View Cart</a></li>
            <li><a href="checkout.html">Checkout</a></li>
        </ul>
    </div>
</div>