<div class="column is-one-quarter">
    <div class="menu">
        <p class="menu-label">My Account</p>
        <ul class="menu-list">
            <li><a <% if(page == 'account') {  %> class="is-active" <% } %> href="/account">My Account</a></li>
            <li><a <% if(page == 'editAccount') {  %> class="is-active" <% } %> href="/editAccount">Edit My Account</a></li>
            <li><a <% if(page == 'Favorites') {  %> class="is-active" <% } %> href="/favorites">My Favorites</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <p class="menu-label">Shop</p>
        <ul class="menu-list">
            <li><a href="transactions.html">View Past Transactions</a></li>
            <li><a <% if(page == 'Cart') {  %> class="is-active" <% } %> href="/cart">View Cart</a></li>
            <li><a <% if(page == 'Checkout') {  %> class="is-active" <% } %> href="/checkout">Checkout</a></li>
        </ul>
    </div>
</div>