<section class="footer">
    <div class="content has-text-centered">
        <p>Developed by <strong>Jacob Dy and Giancarlo Tee</strong></p>
        <a href="/admin">Admin Page</a>
    </div>
</section>