<section class="footer">
    <div class="content has-text-centered">
        <p>Developed by <strong>Jacob Dy and Giancarlo Tee</strong></p>
        <a href="../admin/adminlogin.html">Admin Login</a>
    </div>
</section>