<nav class="navbar navbar-style" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="index.html">
                HOME
            </a>
            <a class="navbar-item" href="ourproducts.html">
                OUR PRODUCTS
            </a>
            <a class="navbar-item" href="about.html">
                ABOUT
            </a>

        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Hello, Jacob</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="account.html">My Account</a>
                    <a class="navbar-item" href="cart.html">My Cart</a>
                    <hr class="navbar-divider" />
                    <a class="navbar-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>