<section class="footer">
    <div class="content has-text-centered">
        <p>Developed by <strong>Jacob Dy, Peter Lacaden and Giancarlo Tee</strong></p>
        <a href="client/login">User Login</a>
    </div>
</section>