<nav class="navbar navbar-style" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/admin/adminIndex">
                HOME
            </a>
            <a class="navbar-item" href="/admin/admin-product">
                PRODUCT MANAGEMENT
            </a>
            <a class="navbar-item" href="/admin/admin-accounts">
                USER MANAGEMENT
            </a>

        </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Hello, <%=name%></a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/account">My Account</a>
                        <hr class="navbar-divider" />
                        <a class="navbar-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
    </div>
</nav>